body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}
.container {
    margin: 60px auto;
    max-width: 600px;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

